<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Page</title>
    <style>
        ul li{
            padding: 10px;
            list-style-type: none;
        }
        .border-top{
            border-top: solid 2px black;
            /* display: inline-block; */
            width: 500px;
            vertical-align: top;
            margin-right: 125px;
        }
    </style>
</head>
<body>
    {% for book in new_book %}
    <h1>{{book.name}}</h1>
    <h3>Author: {{book.author.first_name}} {{book.author.last_name}}</h3>
    {% endfor %}
    <h1>Reviews:</h1>
    {% for review in new_review %}
    <div class="border-top">
        <p> Rating: {{review.rating}}/5</p>
        <a href="/user_page{{review.user.id}}">{{review.user.first_name}}</a> said: "{{review.review}}"
        <p>Posted at: {{review.created_at}}</p>
        {% if review.user.id == request.session.id %}
        <form action="/delete{{review.book.id}}" method = 'post'>
            {% csrf_token %}
            <input type="hidden" name="review_id" value = "{{review.id}}">
            <input type="submit" name="delete" value="Delete this Review">
        </form>
        {% endif %}
    </div>
    {% endfor %}
    {% for book in book_id %}
    <div class="border-top">
        <form action="/process/reviewtwo{{book.id}}" method = "post">
            {% csrf_token %}
            <ul>
                <h3>Add a Review:</h3>
                <li>  <textarea name="review" id="" cols="30" rows="10"></textarea></li>
                Rating: 
                <li>
                    <select name="rating" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option> 
                        <option value="4">4</option>
                        <option value="5">5</option>   
                    </select>
                </li>
                <li><input type="submit" value="Submit a Review"></li>
            </ul>
        </form>
    </div>
    {% endfor %}
    <a href="/books">Home</a>
    <a href="/logout">Logout</a> 
</body>
</html>